/*  All */
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
.login .form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;

  width: 100%;
  padding: 2% 2% 1% 2%;
  max-width: 500px;
  text-align: center;
}

/* Form > Logo */
.login .form .logo {
  max-width: 300px;
}

/* Form > Container */
.login .form .container {
  margin: 5px;
}

/* Form > Container > All */
.login .form .container * {
  width: 100%;
  height: 30px;
  flex-wrap: wrap;
  margin: 1% 2% 1% 1%;
  border-radius: 4px;
}

/* Form > Container > Input */
.login .form .container input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

/* Form > Container > Input::Placeholder
*/
.login .form .container input::placeholder {
  color: rgb(194, 188, 188);
}

/* Form > Container > Button */
.login .form .container button {
  border: 0;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  background: #625b98;
  color: white;
  font-weight: lighter;
  cursor: pointer;
}

/* Form > Container > Button:Hover */
.login .form .container button:hover {
  background: #8b85ba;
}

/* Form > Container > Button:Active*/
.login .form .container button:active {
  background: #534e79;
}

/* Form > Forgot */
.login .form .forgotPassword {
  width: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: end;
}

/* Form > Forgot > Label */
.login .form .forgotPassword label {
  color: rgb(172, 172, 172);
  margin-left: 5px;
}

/* Form > Register  */
.login .form .register {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Form > Register > Label */
.login .form .register label {
  color: rgb(172, 172, 172);
  margin-left: 5px;
}
