/*  All */
.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
.page .form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;

  width: 100%;
  padding: 2% 2% 1% 2%;
  max-width: 500px;
  text-align: center;
}

/* Form > Logo */
.page .form .logo {
  max-width: 300px;
}

/* Form > Logo:Hover */
.page .form .logo:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
}

/* Form > Container */
.page .form .container {
  margin: 5px;
}

/* Form > Container > All */
.page .form .container * {
  width: 100%;
  height: 30px;
  flex-wrap: wrap;
  margin: 1% 0;
  border-radius: 4px;
}

/* Form > Container > Input */
.page .form .container input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

/* Form > Container > Input:Active */
.page .form .container input:active {
  border: 1px solid #c9c9c9;
  -moz-box-shadow: inset 0 0 3px #c9c9c9;
  -webkit-box-shadow: inset 0 0 3px #c9c9c9;
  box-shadow: inset 0 0 3px #c9c9c9;
}

/* Form > Container > Input::Placeholder
*/
.page .form .container input::placeholder {
  color: rgb(194, 188, 188);
}

/* Form > Container > Button */
.page .form .container button {
  border: 0;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  background: #625b98;
  color: white;
  font-weight: lighter;
  cursor: pointer;
}

/* Form > Container > Button:Hover */
.page .form .container button:hover {
  background: #8b85ba;
}

/* Form > Container > Button:Active*/
.page .form .container button:active {
  background: #534e79;
}

/* Form > 1ST Section */
.page .form .section-01 {
  width: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: end;
}

/* Form > 1ST Section > Label */
.page .form .section-01 label {
  color: rgb(172, 172, 172);
  margin-left: 5px;
}

/* Form > 2ND Section  */
.page .form .section-02 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Form > 2ND Section > Label */
.page .form .section-02 label {
  color: rgb(172, 172, 172);
  margin-left: 5px;
}
